* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border-radius: 8px;
}
.containerLogo{
    max-width: 20%;
    height: 100%;
}
.containerLogo img{
    width: 100%;
    height: 100%;
}
.containerHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header h1 {
    font-size: 3rem;
}

.logo img {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.userActions {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titulo {
    text-decoration: none;
    color: white;
}

.visitante {
    background-color: white;
    text-decoration: none;
    color: black;
    border: none;
    padding: 4px 25px;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 1px 1px 3px black;
}

.userActions img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


nav {
    display: flex;
    justify-content: center;
    background-color: #0077e6;
    padding: 15px 1px;
    border-radius: 8px;
    margin: 10px 0;
    width: 100%;
    gap: 200px;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav button {
    background: #66b3ff;
    color: white;
    border: 1px solid black;
    padding: 13px 90px;
    cursor: pointer;
    box-shadow: 1px 1px 3px black;

}

nav form {
    display: flex;
    gap: 10px;
}

.lupita {
    position: absolute;

}

nav input {
    padding: 10px 30px;
    border: none;
    border: 2px solid black;
    box-shadow: 1px 1px 3px black;
}

nav button[type="submit"] {
    background-color: white;
    color: #0056b3;
}

main {
    margin: 25px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: #0077e6;
}

.publicidad {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #0077e6;
    height: 100% !important;
}

.publicidad img {
    width: 100%;
    height: 100%;
}

.login {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 100px;
    color: white;
    background-color: #0077e6;
}

.loginContainer{
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.loginbutton{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 2;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 25px;
}


form input {
    padding: 5px 90px;
    box-shadow: 1px 1px 3px black;
    border: 1px solid black;
}

form p {
    align-self: center;
}

.labelfecha{
width: 98%;
}

.fecha{
    width: 63%;
}

button {
    padding: 5px 25px;
    background-color: white;
    box-shadow: 3px 3px 5px black;
    align-self: center;
    cursor: pointer;
}


.imagenPublicidad {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.textoPublicidad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px; 
    color: white;
    font-size: larger;
}


input[type="date"] {
    padding: 5px 50px;
    font-size: 1rem;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 80px;
    padding: 10px 30px;
    background-color: #cccccc;
    color: black;
    border-radius: 8px;
    margin: 25px 0;
}

.textoFooter .imagenFooter{
    justify-content: center;
    align-items: center;   
}

footer img {
    width: 100%;
    height: 100%;
}